@value votingLightGrey, votingDarkGrey, votingWhite from '../../../common/colors.css';

.pollList {
  margin-left: 1em;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: votingLightGrey;
}
