* {
  box-sizing: border-box;
}

.question {
  margin-left: 1em;
  display: flex;
  text-align: center;
}

.contents {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: votingLightGrey;
}
